/*Top navigation bar*/
nav {
  color: #7cf8b8;
  background-color: black;
  font-family: "Lato", sans-serif;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.menu-toggle {
  margin-right: 10px;
}

.nav-link {
  color: black;
  padding-left: 0px;
}

.nav-item>.nav-link {
  color: #7cf8b8;
}

.nav-item>.nav-link:hover {
  color: white;
}

.name-in-topnav {
  color: white;
}

.topnav-right-buttons {
  float: right;
}

/* Headings */

.header-within-tab {
  margin-top: 20px;
  color: black;
}

h1 {
  margin-top: 450px;
  color: black;
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 25px;
  color: green;
  font-family: "Zilla Slab", cursive;
}

h3 {
  margin-top: 30px;
  color: #6ca388;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}

.page-name {
  color: black;
  font-size: 30px;
}

.community-url {
  color: darkgray;
}

.community-header {
  text-align: center;
  color: #538f72;
  padding-top: 15px;
}

/* Breadcrumbs */

.breadcrumbs {
  margin-top: 0px;
  margin-bottom: 10px;
}

.breadcrumbs>.nav-link {
  margin-top: 10px;
  color: silver;
  text-decoration: underline;
  font-family: Lato;
}

.breadcrumbs>.nav-link:hover {
  color: black;
  text-decoration: underline;
}

/* Links */

a:hover {
  color: #6ca388;
}

/* Forms */

label {
  margin-top: 10px;
  font-family: "Lato", sans-serif;
}

input {
  margin-top: 1px;
}

small {
  color: silver;
  margin-left: 5px;
  margin-top: 1px;
}

.form-submit {
  background-color: silver;
  font-family: "Lato", sans-serif;
  color: black;
  width: 100%;
  height: 35px;
}

.form-submit:hover {
  color: white;
  background-color: black;
}

.card {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.input-tag {
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 0;
}

.input-tag input {
  border: none;
  width: 100%;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-tag__tags li {
  align-items: center;
  background: #e3fcef;
  border-radius: 2px;
  color: black;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}

/* Tables */

table {
  color: black;
}

th {
  color: white;
  background-color: black;
}

tr:hover {
  background-color: honeydew;
  color: white;
  cursor: pointer;
  color: #6ca388;
}

tr:hover .community-description {
  color: #538f72;
}

tr:hover .community-url {
  color: #538f72;
}

tr:hover .delete-button {
  background-color: black;
  color: white;
  cursor: pointer;
}

tr:hover .table-link {
  color: #6ca388;
}

.table-link {
  color: green;
}

/* Buttons */

.btn {
  position: relative;
  display: block;
  margin: 30px auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: black;
  color: white;
  transition: background-color 0.3s;
}

.btn>* {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn-signout:hover {
  cursor: pointer;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

.delete-button {
  background-color: white;
  color: black;
  border: none;
  margin-left: 5px;
}

.delete-button:hover {
  background-color: black;
  color: white;
}

/* Communities */

.community-name-in-table {
  font-size: 20px;
  font-weight: bold;
}

.community-rule-list {
  margin-left: 20px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 8px;
  background-color: #e3fcef;
  color: black;
}

.community-description {
  color: gray;
}

.community-tabs {
  margin-top: 20px;
  background-color: white;
}

.community-tabs>.nav-link {
  background-color: white;
  color: gray;
}

.community-tabs>.nav-link:hover {
  color: black;
}

.community-url {
  font-family: "Lucida Console", Monaco, monospace;
  margin-bottom: 5px;
}

.rules {
  margin: auto;
  font-size: 20px;
  width: 50%;
  margin-top: 30px;
  font-weight: 400;
}

.rule-explanation {
  color: gray;
  font-weight: 300;
}

/* Discussions */

.discussion {
  margin-top: 10px;
  border-bottom: 1px solid lightgray;
}

.discussion-attribution {
  color: darkgray;
}

.discussion-title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.discussion-title-in-comment-page {
  font-family: Lato;
  font-weight: bold;
  font-size: 24px;
}

.discussion-title:hover {
  color: gray;
}

.discussion-signifier {
  background-color: #e3fcef;
  color: #6ca388;
  margin-right: 5px;
}

.discussion-content {
  background-color: #f5f5f5;
  color: #474747;
  font-family: Lato;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.discussion-content-in-list {
  font-style: italic;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 5px;
  background-color: #f5f5f5;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: gray;
}

.dicussion-metadata {
  color: gray;
  font-size: 12px;
  font-family: Lato;
}

.discussion-tag-list {
  margin-left: 10px;
}

.discussion>.nav-link {
  padding-left: 0px;
  margin-left: 0px;
}

.keyword {
  font-size: 11pt;
  background-color: #e3fcef;
  padding: 5px;
  margin-right: 3px;
  color: #538f72;
  font-weight: normal;
}

/* Comments */

.comment {
  margin-bottom: 10px;
  border-top: 1px solid #e3fcef;
}

.comment-header {
  clear: both;
}

.comment-content {
  clear: both;
  float: none;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  margin-bottom: 5px;
}

.comment-buttons {
  padding: 5px;
  color: #6ca388;
  background-color: #e3fcef;
}

.comment-button {
  margin-right: 10px;
  margin-left: 10px;
}

.metadata-button {
  margin-left: 5px;
  margin-right: 5px;
}

.username-in-comment {
  color: #6ca388;
  font-size: 12px;
  float: left;
  margin-top: 5px;
}

.comment-metadata {
  font-size: 16px;
  float: right;
  color: silver;
  margin-top: 5px;
}

.metadata-action:hover {
  color: #6ca388;
  cursor: pointer;
}

.comment-action:hover {
  color: black;
  cursor: pointer;
}

.delete-comment-button {
  cursor: pointer;
}

.indented {
  margin-left: 20px;
}